In [4]:
import pandas as pd
import seaborn as sns
import datetime
import warnings

In [74]:
# read crude rate df

In [107]:
df_crude_rate = pd.read_csv('crude_rate.csv')
df_crude_rate.head(20)

,State,Year,Deaths,Population,Crude Rate,Crude Rate Lower 95% Confidence Interval,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
0,Alabama,1999,39,4430141,0.9,0.6,1.2,116
1,Alabama,2000,46,4447100,1,0.8,1.4,126
2,Alabama,2001,67,4467634,1.5,1.2,1.9,138
3,Alabama,2002,75,4480089,1.7,1.3,2.1,142
4,Alabama,2003,54,4503491,1.2,0.9,1.6,149
5,Alabama,2004,92,4530729,2,1.6,2.5,155
6,Alabama,2005,83,4569805,1.8,1.4,2.3,163
7,Alabama,2006,134,4628981,2.9,2.4,3.4,174
8,Alabama,2007,172,4672840,3.7,3.1,4.2,184
9,Alabama,2008,195,4718206,4.1,3.6,4.7,196
10,Alabama,2009,210,4757938,4.4,3.8,5,202
11,Alabama,2010,194,4779736,4.1,3.5,4.6,210
12,Alabama,2011,180,4802740,3.7,3.2,4.3,219
13,Alabama,2012,175,4822023,3.6,3.1,4.2,217
14,Alabama,2013,175,4833722,3.6,3.1,4.2,207
15,Alabama,2014,282,4849377,5.8,5.1,6.5,196
16,Alaska,1999,28,624779,4.5,3,6.5,116
17,Alaska,2000,27,626932,4.3,2.8,6.3,126
18,Alaska,2001,17,633714,Unreliable,1.6,4.3,138
19,Alaska,2002,Suppressed,642337,Suppressed,Suppressed,Suppressed,142

In [103]:
# target crude rate do
df_crude_rate.head()
# df_crude_rate.Year
df_crude_rate.State.nunique()
# no null values
df_crude_rate.isnull().sum()
df_crude_rate.describe()
df_crude_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 8 columns):
State                                                              816 non-null object
Year                                                               816 non-null int64
Deaths                                                             816 non-null object
Population                                                         816 non-null int64
Crude Rate                                                         816 non-null object
Crude Rate Lower 95% Confidence Interval                           816 non-null object
Crude Rate Upper 95% Confidence Interval                           816 non-null object
Prescriptions Dispensed by US Retailers in that year (millions)    816 non-null int64
dtypes: int64(3), object(5)
memory usage: 51.1+ KB

In [104]:
# removing columns

In [132]:
# Rename columns
df_example = df_crude_rate.rename(columns = {'date': 'Year', 'Deaths': 'Deaths'})

# Group data by number of listings per date
# df_example = df_crude_rate.groupby(by = 'Deaths').agg({'ts': 'count'})

# Change index to datetime
df_example.Year.index = pd.to_datetime(df_example.Year.index)

# Set frequency of time series
# df_example = df_example.asfreq(freq='1D')

# Sort the values
# df_example = df_example.sort_index(ascending = True) 

# Fill values with 0
# df_example = df_example.fillna(value = 0)

# Show the end of the data
# display(df_example.tail())
df_example.columns
df_example = df_example.drop( columns = ['Population','Crude Rate','Crude Rate Lower 95% Confidence Interval' ,'Crude Rate Lower 95% Confidence Interval','Crude Rate Lower 95% Confidence Interval' ] , axis = 0)

In [133]:
df_example.head(10)

,State,Year,Deaths,Crude Rate Upper 95% Confidence Interval,Prescriptions Dispensed by US Retailers in that year (millions)
0,Alabama,1999,39,1.2,116
1,Alabama,2000,46,1.4,126
2,Alabama,2001,67,1.9,138
3,Alabama,2002,75,2.1,142
4,Alabama,2003,54,1.6,149
5,Alabama,2004,92,2.5,155
6,Alabama,2005,83,2.3,163
7,Alabama,2006,134,3.4,174
8,Alabama,2007,172,4.2,184
9,Alabama,2008,195,4.7,196

In [66]:
df_opio_clean.head()

,0,1,2,3,4
2,Location,Opioid Overdose Death Rate (Age-Adjusted),All Drug Overdose Death Rate (Age-Adjusted),Percent Change in Opioid Overdose Death Rate f...,Percent Change in All Drug Overdose Death Rate...
3,United States,14.9,21.7,0.12,0.1
4,Alabama,9,18,0.2,0.11
5,Alaska,13.9,20.2,0.11,0.2
6,Arizona,13.5,22.2,0.18,0.09

In [80]:
#  cleaning opio oversode table

In [58]:
col = ['Location', 'Opioid Overdose Death Rate (Age-Adjusted)','All Drug Overdose Death Rate (Age-Adjusted)','Percent Change in Opioid Overdose Death Rate','Percent Change in All Drug Overdose Death Rate']
df_opio = pd.read_csv('opioid_overdose.csv', header = None)
df_opio_clean  = pd.DataFrame(df_opio , copy = True)

In [62]:
# drop tittle 
df_opio_clean= df_opio_clean.drop(df_opio_clean.index[0])

In [64]:
# drop second column
df_opio_clean = df_opio_clean.drop(df_opio_clean.index[0])

In [70]:
# converting the first row into the header
df_opio_clean.columns = df_opio_clean.iloc[0]

In [72]:
df_opio_clean = df_opio_clean.drop(df_opio_clean.index[0])

In [73]:
df_opio_clean.head()

2,Location,Opioid Overdose Death Rate (Age-Adjusted),All Drug Overdose Death Rate (Age-Adjusted),Percent Change in Opioid Overdose Death Rate from Prior Year,Percent Change in All Drug Overdose Death Rate from Prior Year
3,United States,14.9,21.7,0.12,0.1
4,Alabama,9,18,0.2,0.11
5,Alaska,13.9,20.2,0.11,0.2
6,Arizona,13.5,22.2,0.18,0.09
7,Arkansas,6.5,15.5,0.1,0.11

In [78]:
df_opio_clean.describe()

2,Location,Opioid Overdose Death Rate (Age-Adjusted),All Drug Overdose Death Rate (Age-Adjusted),Percent Change in Opioid Overdose Death Rate from Prior Year,Percent Change in All Drug Overdose Death Rate from Prior Year
count,60,52,52,52,52
unique,60,49,48,31,27
top,Rhode Island,5.1,11.7,-0.05,0.11
freq,1,2,2,4,5

In [75]:
# Reading Accidental Drug Related Deaths table

In [7]:
df_deaths = pd.read_csv('Accidental_Drug_Related_Deaths_2012-2018.csv')

In [8]:
df_deaths.head()

,ID,Date,DateType,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath,DeathCityGeo,ResidenceCityGeo,InjuryCityGeo
0,14-0273,06/28/2014 12:00:00 AM,DateReported,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)","CT\n(41.575155, -72.738288)"
1,13-0102,03/21/2013 12:00:00 AM,DateofDeath,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Norwalk, CT\n(41.11805, -73.412906)","NORWALK, CT\n(41.11805, -73.412906)","CT\n(41.575155, -72.738288)"
2,16-0165,03/13/2016 12:00:00 AM,DateofDeath,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Danbury, CT\n(41.393666, -73.451539)","SANDY HOOK, CT\n(41.419998, -73.282501)",NaN
3,16-0208,03/31/2016 12:00:00 AM,DateofDeath,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,Y,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,NaN
4,13-0052,02/13/2013 12:00:00 AM,DateofDeath,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,Accident,"Greenwich, CT\n(41.026526, -73.628549)",NaN,"CT\n(41.575155, -72.738288)"

In [84]:
df_deaths.ResidenceCity.value_counts()

HARTFORD               296
WATERBURY              269
BRIDGEPORT             241
NEW HAVEN              224
NEW BRITAIN            192
BRISTOL                134
MERIDEN                127
NORWICH                109
MANCHESTER             103
TORRINGTON             100
WEST HAVEN              91
EAST HARTFORD           89
MIDDLETOWN              88
DANBURY                 86
NEW LONDON              83
ENFIELD                 80
STRATFORD               80
STAMFORD                67
MILFORD                 62
HAMDEN                  62
NORWALK                 57
NAUGATUCK               54
WALLINGFORD             53
GROTON                  50
SOUTHINGTON             50
SHELTON                 49
WEST HARTFORD           46
NEW MILFORD             45
EAST HAVEN              44
VERNON                  42
                      ...
MELBOURNE                1
COSTA MESA               1
HODGDON                  1
JAMAICA PLAIN            1
AMENIA                   1
SPRINGFIELD              1
ELLENBURG DEPOT          1
SOUTHFIELD               1
NEWARK                   1
SUDBURY                  1
S GLASTONBURY            1
HOLLAND                  1
EAST MEADOW              1
FORT LAUDERDALE          1
ALLSTON                  1
HAMPTON BAYS             1
HIGHLAND                 1
INVER GROVE HEIGHTS      1
MAMARONECK               1
PASCOAG                  1
HARRISBURG               1
GREENFIELD               1
CHICOPEE                 1
SAKEM                    1
SEBRING                  1
SARATOGA SPGS            1
EAST WOODSTOCK           1
HAWAIIAN GARDENS         1
WEST SPRINGFIELD         1
NORFOLK                  1
Name: ResidenceCity, Length: 370, dtype: int64

In [86]:
df_deaths.columns

Index(['ID', 'Date', 'DateType', 'Age', 'Sex', 'Race', 'ResidenceCity',
       'ResidenceCounty', 'ResidenceState', 'DeathCity', 'DeathCounty',
       'Location', 'LocationifOther', 'DescriptionofInjury', 'InjuryPlace',
       'InjuryCity', 'InjuryCounty', 'InjuryState', 'COD', 'OtherSignifican',
       'Heroin', 'Cocaine', 'Fentanyl', 'FentanylAnalogue', 'Oxycodone',
       'Oxymorphone', 'Ethanol', 'Hydrocodone', 'Benzodiazepine', 'Methadone',
       'Amphet', 'Tramad', 'Morphine_NotHeroin', 'Hydromorphone', 'Other',
       'OpiateNOS', 'AnyOpioid', 'MannerofDeath', 'DeathCityGeo',
       'ResidenceCityGeo', 'InjuryCityGeo'],
      dtype='object')

In [76]:
# reading overdose by county table

In [9]:
df_overdose = pd.read_csv('overdose_county.csv')
# df_overdose.columns
# df_try= df_overdose.groupby('County Code')

In [11]:
len(df_overdose)

58967

In [148]:
df_overdose.head(30)

,County,County Code,Year,Year Code,Deaths,Population,Crude Rate
0,"Autauga County, AL",1001,1999,1999,361,42963,840.3
1,"Autauga County, AL",1001,2000,2000,356,43671,815.2
2,"Autauga County, AL",1001,2001,2001,362,44889,806.4
3,"Autauga County, AL",1001,2002,2002,388,45909,845.2
4,"Autauga County, AL",1001,2003,2003,400,46800,854.7
5,"Autauga County, AL",1001,2004,2004,377,48366,779.5
6,"Autauga County, AL",1001,2005,2005,454,49676,913.9
7,"Autauga County, AL",1001,2006,2006,457,51328,890.4
8,"Autauga County, AL",1001,2007,2007,406,52405,774.7
9,"Autauga County, AL",1001,2008,2008,457,53277,857.8
10,"Autauga County, AL",1001,2009,2009,412,54135,761.1
11,"Autauga County, AL",1001,2010,2010,433,54571,793.5
12,"Autauga County, AL",1001,2011,2011,456,55267,825.1
13,"Autauga County, AL",1001,2012,2012,514,55514,925.9
14,"Autauga County, AL",1001,2013,2013,535,55246,968.4
15,"Autauga County, AL",1001,2014,2014,482,55395,870.1
16,"Autauga County, AL",1001,2015,2015,523,55347,944.9
17,"Autauga County, AL",1001,2016,2016,520,55416,938.4
18,"Autauga County, AL",1001,2017,2017,528,55504,951.3
19,"Baldwin County, AL",1003,1999,1999,1290,137555,937.8
20,"Baldwin County, AL",1003,2000,2000,1322,140415,941.5
21,"Baldwin County, AL",1003,2001,2001,1432,144875,988.4
22,"Baldwin County, AL",1003,2002,2002,1451,147957,980.7
23,"Baldwin County, AL",1003,2003,2003,1505,151509,993.3
24,"Baldwin County, AL",1003,2004,2004,1549,156266,991.3
25,"Baldwin County, AL",1003,2005,2005,1576,162183,971.7
26,"Baldwin County, AL",1003,2006,2006,1650,168121,981.4
27,"Baldwin County, AL",1003,2007,2007,1682,172404,975.6
28,"Baldwin County, AL",1003,2008,2008,1685,175827,958.3
29,"Baldwin County, AL",1003,2009,2009,1708,179406,952

In [143]:
len(df_try.County.unique())

3133

In [153]:
# df.loc[df["State"] == 'Alabama', ["Year", "Deaths"]]

Empty DataFrame
Columns: [County Code, Deaths]
Index: []

In [8]:
len(df_census)

65499

In [5]:
df_census = pd.read_csv('census.csv')

In [14]:
df_census.columns

Index(['CensusTract', 'State', 'County', 'TotalPop', 'Men', 'Women',
       'Hispanic', 'White', 'Black', 'Native', 'Asian', 'Pacific', 'Citizen',
       'Income', 'IncomeErr', 'IncomePerCap', 'IncomePerCapErr', 'Poverty',
       'ChildPoverty', 'Professional', 'Service', 'Office', 'Construction',
       'Production', 'Drive', 'Carpool', 'Transit', 'Walk', 'OtherTransp',
       'WorkAtHome', 'MeanCommute', 'Employed', 'PrivateWork', 'PublicWork',
       'SelfEmployed', 'FamilyWork', 'Unemployment'],
      dtype='object')

In [15]:
df_census.isnull().sum()

CensusTract          0
State                0
County               0
TotalPop             0
Men                  0
Women                0
Hispanic           557
White              557
Black              557
Native             557
Asian              557
Pacific            557
Citizen              0
Income             927
IncomeErr          927
IncomePerCap       601
IncomePerCapErr    601
Poverty            693
ChildPoverty       953
Professional       667
Service            667
Office             667
Construction       667
Production         667
Drive              658
Carpool            658
Transit            658
Walk               658
OtherTransp        658
WorkAtHome         658
MeanCommute        796
Employed             0
PrivateWork        667
PublicWork         667
SelfEmployed       667
FamilyWork         667
Unemployment       662
dtype: int64

In [6]:
df_census.head(50)

,CensusTract,State,County,TotalPop,Men,Women,Hispanic,White,Black,Native,...,Walk,OtherTransp,WorkAtHome,MeanCommute,Employed,PrivateWork,PublicWork,SelfEmployed,FamilyWork,Unemployment
0,1001020100,Alabama,Autauga,1948,940,1008,0.9,87.4,7.7,0.3,...,0.5,2.3,2.1,25.0,943,77.1,18.3,4.6,0.0,5.4
1,1001020200,Alabama,Autauga,2156,1059,1097,0.8,40.4,53.3,0.0,...,0.0,0.7,0.0,23.4,753,77.0,16.9,6.1,0.0,13.3
2,1001020300,Alabama,Autauga,2968,1364,1604,0.0,74.5,18.6,0.5,...,0.0,0.0,2.5,19.6,1373,64.1,23.6,12.3,0.0,6.2
3,1001020400,Alabama,Autauga,4423,2172,2251,10.5,82.8,3.7,1.6,...,0.0,2.6,1.6,25.3,1782,75.7,21.2,3.1,0.0,10.8
4,1001020500,Alabama,Autauga,10763,4922,5841,0.7,68.5,24.8,0.0,...,0.0,0.6,0.9,24.8,5037,67.1,27.6,5.3,0.0,4.2
5,1001020600,Alabama,Autauga,3851,1787,2064,13.1,72.9,11.9,0.0,...,0.0,6.0,4.5,19.8,1560,79.4,14.7,5.8,0.0,10.9
6,1001020700,Alabama,Autauga,2761,1210,1551,3.8,74.5,19.7,0.0,...,0.0,0.0,0.0,20.0,1166,82.0,14.6,3.4,0.0,11.4
7,1001020801,Alabama,Autauga,3187,1502,1685,1.3,84.0,10.7,3.1,...,0.0,1.7,5.9,24.3,1502,78.1,14.8,7.1,0.0,8.2
8,1001020802,Alabama,Autauga,10915,5486,5429,1.4,89.5,8.4,0.0,...,0.0,0.0,1.3,29.4,4348,73.3,22.1,4.6,0.0,8.7
9,1001020900,Alabama,Autauga,5668,2897,2771,0.4,85.5,12.1,0.0,...,0.0,1.2,2.1,32.9,2485,77.9,15.2,6.9,0.0,7.2
10,1001021000,Alabama,Autauga,3286,1740,1546,0.8,73.3,24.7,1.3,...,6.3,0.7,0.7,31.5,1541,76.9,19.5,3.6,0.0,5.2
11,1001021100,Alabama,Autauga,3295,1666,1629,0.5,44.5,54.3,0.0,...,1.3,3.2,2.6,32.6,1496,70.7,24.7,4.6,0.0,7.3
12,1003010100,Alabama,Baldwin,3829,2157,1672,0.3,78.9,17.8,2.2,...,0.0,0.0,0.8,34.5,1406,73.9,21.5,4.6,0.0,10.1
13,1003010200,Alabama,Baldwin,2869,1324,1545,1.3,86.0,10.4,0.0,...,0.6,0.0,1.9,30.3,1221,78.0,13.9,8.1,0.0,8.5
14,1003010300,Alabama,Baldwin,7455,3462,3993,0.5,83.9,13.6,0.4,...,0.8,0.3,2.8,28.8,3033,79.4,17.5,2.4,0.8,7.7
15,1003010400,Alabama,Baldwin,4537,2311,2226,4.9,88.7,4.4,1.5,...,1.0,1.1,2.9,32.7,1790,80.6,11.4,8.0,0.0,10.7
16,1003010500,Alabama,Baldwin,5321,2711,2610,1.3,82.9,12.9,0.1,...,1.1,0.0,1.0,23.6,2042,69.3,23.8,6.9,0.0,7.0
17,1003010600,Alabama,Baldwin,3398,1821,1577,3.5,34.0,62.5,0.0,...,1.0,0.9,0.7,20.4,1392,71.7,23.9,4.5,0.0,5.7
18,1003010701,Alabama,Baldwin,7813,4098,3715,4.6,91.3,2.8,0.2,...,0.4,0.3,3.4,25.1,3838,81.1,11.5,6.4,0.9,3.3
19,1003010703,Alabama,Baldwin,16099,8213,7886,5.8,84.6,4.4,0.0,...,0.1,1.6,2.5,31.8,8843,80.1,16.1,3.8,0.0,2.2
20,1003010704,Alabama,Baldwin,5411,2635,2776,6.0,79.8,12.1,0.0,...,0.4,1.2,4.0,27.9,2440,85.4,11.1,3.5,0.0,6.8
21,1003010705,Alabama,Baldwin,9403,4756,4647,2.5,76.8,17.2,0.0,...,0.0,3.0,3.5,28.7,5379,91.1,6.5,2.3,0.0,4.7
22,1003010800,Alabama,Baldwin,7645,3813,3832,0.0,68.4,31.3,0.0,...,0.0,1.4,3.3,23.4,3457,85.8,10.4,3.8,0.0,8.5
23,1003010903,Alabama,Baldwin,5810,3054,2756,6.0,76.9,15.2,1.2,...,1.0,0.6,2.7,27.4,2345,83.1,11.7,5.2,0.0,10.1
24,1003010904,Alabama,Baldwin,6949,3314,3635,6.9,86.6,1.6,3.6,...,0.0,4.0,2.9,28.0,2816,75.5,14.6,8.9,1.0,9.5
25,1003010905,Alabama,Baldwin,7814,3768,4046,8.5,82.0,6.8,0.3,...,1.5,0.0,6.8,26.0,4024,80.6,10.1,9.3,0.0,8.0
26,1003010906,Alabama,Baldwin,5029,2557,2472,6.3,90.1,2.4,0.8,...,0.4,0.0,4.1,27.9,2184,86.2,12.8,1.0,0.0,2.2
27,1003011000,Alabama,Baldwin,4195,2289,1906,4.4,84.5,5.5,4.5,...,2.4,0.1,4.5,24.2,1675,79.3,7.5,11.1,2.1,10.6
28,1003011101,Alabama,Baldwin,9220,4221,4999,4.3,93.0,2.0,0.0,...,2.4,1.4,6.7,24.0,4133,82.0,10.1,7.9,0.0,5.6
29,1003011102,Alabama,Baldwin,4181,1967,2214,1.2,92.9,0.9,0.2,...,0.0,1.5,7.5,26.1,1857,82.9,7.9,6.8,2.5,9.1
30,1003011201,Alabama,Baldwin,4715,2240,2475,2.8,85.4,8.6,0.0,...,1.4,2.0,8.5,22.8,1885,77.6,12.1,10.3,0.0,3.2
31,1003011202,Alabama,Baldwin,6097,2537,3560,2.9,74.5,19.4,0.0,...,0.0,8.1,2.0,24.2,2361,73.7,22.4,3.0,0.8,4.6
32,1003011300,Alabama,Baldwin,4713,2147,2566,6.0,89.3,4.6,0.2,...,1.2,0.0,8.5,29.2,1856,84.1,9.3,6.6,0.0,4.5
33,1003011401,Alabama,Baldwin,10709,5198,5511,5.4,83.8,9.3,0.0,...,0.1,0.6,1.6,23.6,4160,90.8,4.4,4.8,0.0,9.8
34,1003011403,Alabama,Baldwin,9461,4222,5239,7.1,89.6,1.1,0.4,...,1.5,2.2,6.8,21.5,4584,84.8,7.1,6.8,1.3,7.5
35,1003011405,Alabama,Baldwin,3709,1806,1903,8.7,90.4,0.6,0.0,...,0.7,1.2,3.9,25.5,1446,82.6,10.8,6.0,0.6,8.2
36,1003011406,Alabama,Baldwin,3600,1676,1924,2.5,85.6,0.0,0.2,...,10.9,1.5,8.1,17.2,1758,89.0,6.7,4.4,0.0,11.4
37,1003011407,Alabama,Baldwin,4946,2425,2521,1.4,89.9,0.1,0.0,...,0.0,5.2,3.1,25.0,1808,83.5,9.5,7.0,0.0,22.9
38,1003011408,Alabama,Baldwin,704,311,393,0.0,100.0,0.0,0.0,...,4.4,0.0,8.1,19.1,280,72.9,18.6,8.6,0.0,18.8
39,1003011501,Alabama,Baldwin,5771,2686,3085,2.4,90.3,5.1,0.0,...,2.1,1.2,1.7,19.7,2496,77.1,17.8,4.0,1.0,6.9
40,1003011502,Alabama,Baldwin,11549,5590,5959,6.7,69.8,19.3,1.5,...,2.0,0.3,2.7,26.0,4466,77.6,15.2,7.3,0.0,15.3
41,1003011601,Alabama,Baldwin,6445,3193,3252,9.2,88.5,1.1,0.8,...,1.8,0.2,6.6,28.5,2901,75.9,12.5,11.3,0.3,6.8
42,1003011602,Alabama,Baldwin,5724,2812,2912,2.6,88.7,5.4,0.5,...,0.0,2.4,1.9,31.8,2077,82.4,10.8,6.1,0.8,3.0
43,1003990000,Alabama,Baldwin,0,0,0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN
44,1005950100,Alabama,Barbour,3524,1663,1861,3.8,48.6,47.0,0.6,...,1.9,2.9,3.2,27.8,1308,70.2,23.4,6.4,0.0,21.0
45,1005950200,Alabama,Barbour,4320,2796,1524,1.8,32.7,63.3,0.6,...,4.0,3.3,1.2,24.9,873,66.8,28.8,4.5,0.0,22.9
46,1005950300,Alabama,Barbour,1682,856,826,2.0,47.2,49.0,0.0,...,7.0,2.6,2.3,33.7,535,77.0,19.6,3.4,0.0,10.5
47,1005950400,Alabama,Barbour,3606,2392,1214,4.4,58.0,36.8,0.1,...,1.7,2.2,0.0,33.3,948,68.7,21.9,9.4,0.0,13.4
48,1005950500,Alabama,Barbour,3907,2033,1874,7.1,57.9,26.6,0.0,...,0.5,0.0,2.2,21.4,1334,76.6,9.7,13.7,0.0,17.1
49,1005950600,Alabama,Barbour,1959,932,1027,12.3,50.9,35.3,0.0,...,0.4,0.7,1.4,18.7,710,84.2,12.7,2.4,0.7,8.7

In [89]:
df_census.County.value_counts()

Los Angeles               2346
Cook                      1326
Maricopa                   916
Orange                     903
Jefferson                  884
Montgomery                 817
Harris                     791
Kings                      788
Wayne                      756
Queens                     669
San Diego                  628
Clark                      582
Dallas                     565
Middlesex                  530
Suffolk                    527
Miami-Dade                 519
Washington                 475
Franklin                   464
Riverside                  453
Cuyahoga                   447
Marion                     439
Lake                       427
Jackson                    424
Hillsborough               407
Allegheny                  402
Essex                      386
Philadelphia               384
Monroe                     378
Santa Clara                372
San Bernardino             369
                          ...
Gilpin                       1
Hooker                       1
Kinney                       1
Bristol Bay Borough          1
Haines Borough               1
Borden                       1
Petroleum                    1
Ouray                        1
Foster                       1
Billings                     1
Issaquena                    1
Crane                        1
Aleutians East Borough       1
McMullen                     1
La Salle                     1
Glasscock                    1
Hanson                       1
Kidder                       1
Cottle                       1
Motley                       1
Osborne                      1
Concho                       1
Fallon                       1
Slope                        1
Crowley                      1
Roger Mills                  1
Dickens                      1
Garden                       1
Kimball                      1
Nance                        1
Name: County, Length: 1605, dtype: int64

In [90]:
df_census.State.value_counts()

California              8057
New York                4918
Florida                 4245
Texas                   3870
Pennsylvania            3218
Illinois                3123
Ohio                    2952
Michigan                2813
North Carolina          2195
New Jersey              2010
Georgia                 1969
Arizona                 1526
Indiana                 1511
Tennessee               1497
Massachusetts           1478
Maryland                1406
Missouri                1393
Minnesota               1338
Colorado                1249
Alabama                 1181
Louisiana               1148
Kentucky                1115
South Carolina          1103
Oklahoma                1046
Oregon                   834
Connecticut              833
Iowa                     825
Kansas                   770
Nevada                   687
Arkansas                 686
Mississippi              664
Nebraska                 532
New Mexico               499
Maine                    358
Hawaii                   351
Idaho                    298
New Hampshire            295
Montana                  271
Rhode Island             244
South Dakota             222
Delaware                 218
North Dakota             205
District of Columbia     179
Alaska                   167
Name: State, dtype: int64